[submodule "PenningTeX-macros"]
	path = PenningTeX-macros
	url = git@github.com:Neil-Penning/PenningTeX-macros.git
[submodule "PenningTeX-notes"]
	path = PenningTeX-notes
	url = git@github.com:Neil-Penning/PenningTeX-notes.git
